FocusAppTest2/Service References/ServiceReference2/Service11.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52708/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52708/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52708/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FocusWCF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetMembers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMembers" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMembers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMembersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetProfiles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProfiles" />
  </wsdl:message>
  <wsdl:message name="IService1_GetProfiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProfilesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCourseMembers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCourseMembers" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCourseMembers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCourseMembersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCourses_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCourses" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCourses_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCoursesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddMember_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMember" />
  </wsdl:message>
  <wsdl:message name="IService1_AddMember_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMemberResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SetPasswordForMember_InputMessage">
    <wsdl:part name="parameters" element="tns:SetPasswordForMember" />
  </wsdl:message>
  <wsdl:message name="IService1_SetPasswordForMember_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetPasswordForMemberResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_JoinCourse_InputMessage">
    <wsdl:part name="parameters" element="tns:JoinCourse" />
  </wsdl:message>
  <wsdl:message name="IService1_JoinCourse_OutputMessage">
    <wsdl:part name="parameters" element="tns:JoinCourseResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_LeaveCourse_InputMessage">
    <wsdl:part name="parameters" element="tns:LeaveCourse" />
  </wsdl:message>
  <wsdl:message name="IService1_LeaveCourse_OutputMessage">
    <wsdl:part name="parameters" element="tns:LeaveCourseResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetMembers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetMembers" message="tns:IService1_GetMembers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetMembersResponse" message="tns:IService1_GetMembers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProfiles">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetProfiles" message="tns:IService1_GetProfiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetProfilesResponse" message="tns:IService1_GetProfiles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCourseMembers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetCourseMembers" message="tns:IService1_GetCourseMembers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetCourseMembersResponse" message="tns:IService1_GetCourseMembers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCourses">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetCourses" message="tns:IService1_GetCourses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetCoursesResponse" message="tns:IService1_GetCourses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMember">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddMember" message="tns:IService1_AddMember_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddMemberResponse" message="tns:IService1_AddMember_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetPasswordForMember">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SetPasswordForMember" message="tns:IService1_SetPasswordForMember_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SetPasswordForMemberResponse" message="tns:IService1_SetPasswordForMember_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="JoinCourse">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/JoinCourse" message="tns:IService1_JoinCourse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/JoinCourseResponse" message="tns:IService1_JoinCourse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LeaveCourse">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/LeaveCourse" message="tns:IService1_LeaveCourse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LeaveCourseResponse" message="tns:IService1_LeaveCourse_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMembers">
      <soap:operation soapAction="http://tempuri.org/IService1/GetMembers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProfiles">
      <soap:operation soapAction="http://tempuri.org/IService1/GetProfiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCourseMembers">
      <soap:operation soapAction="http://tempuri.org/IService1/GetCourseMembers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCourses">
      <soap:operation soapAction="http://tempuri.org/IService1/GetCourses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMember">
      <soap:operation soapAction="http://tempuri.org/IService1/AddMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPasswordForMember">
      <soap:operation soapAction="http://tempuri.org/IService1/SetPasswordForMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JoinCourse">
      <soap:operation soapAction="http://tempuri.org/IService1/JoinCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeaveCourse">
      <soap:operation soapAction="http://tempuri.org/IService1/LeaveCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:52708/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>