FocusAppTest2/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://focustest.duckdns.org/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://focustest.duckdns.org/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://focustest.duckdns.org/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FocusWCF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetMembers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMembers" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMembers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMembersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetProfiles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProfiles" />
  </wsdl:message>
  <wsdl:message name="IService1_GetProfiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProfilesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCourseMembers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCourseMembers" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCourseMembers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCourseMembersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCourses_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCourses" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCourses_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCoursesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_JoinCourse_InputMessage">
    <wsdl:part name="parameters" element="tns:JoinCourse" />
  </wsdl:message>
  <wsdl:message name="IService1_JoinCourse_OutputMessage">
    <wsdl:part name="parameters" element="tns:JoinCourseResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CancelCourse_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelCourse" />
  </wsdl:message>
  <wsdl:message name="IService1_CancelCourse_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelCourseResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProfile" />
  </wsdl:message>
  <wsdl:message name="IService1_GetProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProfile" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAdmin" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAdminResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddMember_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMember" />
  </wsdl:message>
  <wsdl:message name="IService1_AddMember_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMemberResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SetPasswordForMember_InputMessage">
    <wsdl:part name="parameters" element="tns:SetPasswordForMember" />
  </wsdl:message>
  <wsdl:message name="IService1_SetPasswordForMember_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetPasswordForMemberResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddFacebookMember_InputMessage">
    <wsdl:part name="parameters" element="tns:AddFacebookMember" />
  </wsdl:message>
  <wsdl:message name="IService1_AddFacebookMember_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddFacebookMemberResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateAccessToken_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAccessToken" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateAccessToken_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAccessTokenResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetFacebookMembers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFacebookMembers" />
  </wsdl:message>
  <wsdl:message name="IService1_GetFacebookMembers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFacebookMembersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateFirstName_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFirstName" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateFirstName_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFirstNameResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateLastName_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateLastName" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateLastName_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateLastNameResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAddress" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAddressResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateZip_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateZip" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateZip_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateZipResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateCity_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCity" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateCity_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCityResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdatePhone_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePhone" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdatePhone_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePhoneResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetMembers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetMembers" message="tns:IService1_GetMembers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetMembersResponse" message="tns:IService1_GetMembers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProfiles">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetProfiles" message="tns:IService1_GetProfiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetProfilesResponse" message="tns:IService1_GetProfiles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCourseMembers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetCourseMembers" message="tns:IService1_GetCourseMembers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetCourseMembersResponse" message="tns:IService1_GetCourseMembers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCourses">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetCourses" message="tns:IService1_GetCourses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetCoursesResponse" message="tns:IService1_GetCourses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="JoinCourse">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/JoinCourse" message="tns:IService1_JoinCourse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/JoinCourseResponse" message="tns:IService1_JoinCourse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelCourse">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CancelCourse" message="tns:IService1_CancelCourse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CancelCourseResponse" message="tns:IService1_CancelCourse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetProfile" message="tns:IService1_GetProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetProfileResponse" message="tns:IService1_GetProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateProfile" message="tns:IService1_UpdateProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateProfileResponse" message="tns:IService1_UpdateProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAdmin" message="tns:IService1_GetAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAdminResponse" message="tns:IService1_GetAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMember">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddMember" message="tns:IService1_AddMember_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddMemberResponse" message="tns:IService1_AddMember_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetPasswordForMember">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SetPasswordForMember" message="tns:IService1_SetPasswordForMember_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SetPasswordForMemberResponse" message="tns:IService1_SetPasswordForMember_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddFacebookMember">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddFacebookMember" message="tns:IService1_AddFacebookMember_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddFacebookMemberResponse" message="tns:IService1_AddFacebookMember_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAccessToken">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateAccessToken" message="tns:IService1_UpdateAccessToken_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateAccessTokenResponse" message="tns:IService1_UpdateAccessToken_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFacebookMembers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetFacebookMembers" message="tns:IService1_GetFacebookMembers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetFacebookMembersResponse" message="tns:IService1_GetFacebookMembers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFirstName">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateFirstName" message="tns:IService1_UpdateFirstName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateFirstNameResponse" message="tns:IService1_UpdateFirstName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateLastName">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateLastName" message="tns:IService1_UpdateLastName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateLastNameResponse" message="tns:IService1_UpdateLastName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAddress">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateAddress" message="tns:IService1_UpdateAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateAddressResponse" message="tns:IService1_UpdateAddress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateZip">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateZip" message="tns:IService1_UpdateZip_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateZipResponse" message="tns:IService1_UpdateZip_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCity">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateCity" message="tns:IService1_UpdateCity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateCityResponse" message="tns:IService1_UpdateCity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePhone">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdatePhone" message="tns:IService1_UpdatePhone_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdatePhoneResponse" message="tns:IService1_UpdatePhone_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMembers">
      <soap:operation soapAction="http://tempuri.org/IService1/GetMembers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProfiles">
      <soap:operation soapAction="http://tempuri.org/IService1/GetProfiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCourseMembers">
      <soap:operation soapAction="http://tempuri.org/IService1/GetCourseMembers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCourses">
      <soap:operation soapAction="http://tempuri.org/IService1/GetCourses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JoinCourse">
      <soap:operation soapAction="http://tempuri.org/IService1/JoinCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelCourse">
      <soap:operation soapAction="http://tempuri.org/IService1/CancelCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProfile">
      <soap:operation soapAction="http://tempuri.org/IService1/GetProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProfile">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAdmin">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMember">
      <soap:operation soapAction="http://tempuri.org/IService1/AddMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPasswordForMember">
      <soap:operation soapAction="http://tempuri.org/IService1/SetPasswordForMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFacebookMember">
      <soap:operation soapAction="http://tempuri.org/IService1/AddFacebookMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAccessToken">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateAccessToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFacebookMembers">
      <soap:operation soapAction="http://tempuri.org/IService1/GetFacebookMembers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFirstName">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateFirstName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateLastName">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateLastName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAddress">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateZip">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateZip" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCity">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateCity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePhone">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdatePhone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://focustest.duckdns.org/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>